@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&display=swap');

/***************************** HEADER *****************************/

header {
  display: flex;
  flex-direction: column;
  background: url('../../images/deco/background-about.png') no-repeat;
  background-size: 100%;
}

/*********************** Headline *********************/

#headline {
  width: 100%;
  color: var(--drkGray);
}

#headline > h1 {
  font-size: 9vw;
  font-weight: 900;
  height: 114vw;
  padding: 30vw 0 0 3vw;
  background-color: #f5f5f580;
  color: var(--seeThru);
  text-align: left;
}

.headline-p {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 57vw;
  width: 94%;
  margin-inline: 3vw;
  border: 2px solid rgb(199, 199, 199);
  padding: 3vw;
  background-color: #fff;
  text-align: center;
  font-size: 3.6vw;
  line-height: 6vw;
  color: var(--drkGray);
}

.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 90vw;
  width: 94%;
  margin-inline: 3vw;
  padding: 3vw;
  text-align: center;
  align-items: center;
  font-size: 3.6vw;
  line-height: 5.7vw;
  color: var(--drkGray);
}

address {
  position: relative;
  top: -9vw;
  width: 100%;
  text-align: center;
  font-size: 3.6vw;
  font-weight: 600;
  text-decoration: underline;
}

/******************* Main ***********************/

#creative {
  border-bottom: 2px solid var(--lghtGray);
}

/***** Creative ***********/

#creative h1 {
  width: 60%;
  color: var(--black);
}

#creative h1::after {
  width: 9%;
  left: 45%;
}

.creative-p {
  width: 90%;
  font-size: 3.6vw;
  line-height: 5.4vw;
  color: var(--drkGray);
}

.desktop-p {
  display: none;
}

#creative img {
  width: 100%;
  margin-block: 9vw;
  padding: 6vw 27vw;
  border: 2px solid var(--lghtGray);
}

/******* History *********/

#history {
  padding: 0  12vw 12vw 12vw;
}

#history h1::after {
  width: 6%;
  left: 45%;
}

#history p {
  padding-bottom: 3vw;
}

.hist-link {
  width: 100%;
  height: 100%;
  margin-block: 1.5vw;
  text-decoration: none;
}

.hist-time {
  font-size: 6vw;
}

.ts2022 {
  background: url('../../images/content/tecateS-2022.jpg') no-repeat;
  background-size: contain;
}

.ts2020 {
  background: url('../../images/content/tecateS-2020.png') no-repeat;
  background-size: 100% auto;
}

#history article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b62a1bad;
  width: 100%;
  height: 43vw;
  color: var(--lghtGray);
}

@media screen and (min-width: 768px) {
  /*********** Header ************************/

  header {
    background: url('../../images/deco/background-about-desktop.png') 0 6vw no-repeat;
    background-size: 100%;
  }

  /******* Headline *******/

  #headline > h1 {
    text-align: center;
    font-size: 4.2vw;
    width: 100%;
    height: 60vw;
    padding: 15vw 24vw 0 30vw;
  }

  #headline > h1::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 4.5%;
    background-color: var(--main);
    top: 3%;
    left: 47.75%;
  }

  .headline-p {
    top: 30vw;
    width: 64%;
    margin-inline: 15vw;
    align-self: flex-end;
    border: 2px solid rgb(199, 199, 199);
    padding: 3vw;
    background-color: #fff;
    text-align: center;
    font-size: 1vw;
    line-height: 1.5vw;
    color: var(--drkGray);
  }

  .contact {
    top: 45vw;
    font-size: 1vw;
  }

  address {
    top: -7.5vw;
    font-size: 1vw;
  }

  /*************** Main ********************/

  /******** Creative **********/

  #creative h1::after {
    left: 47.5%;
  }

  .creative-p {
    font-size: 1vw;
    line-height: 1.5vw;
  }

  .desktop-p {
    display: block;
  }

  #creative img {
    width: 30%;
    margin-block: 3vw;
    padding: 0;
    border: 2px solid var(--lghtGray);
  }

  /******** History ********/

  #history {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  }

  #history h1 {
    width: 100%;
  }

  .history-p {
    width: 100%;
    font-size: 1vw;
    color: var(--drkGray);
  }

  .hist-link {
    width: 30%;
    height: 30%;
    text-decoration: none;
    margin-inline: 1.5vw;
  }

  .hist-time {
    font-size: 3vw;
  }

  .hist-title {
    font-weight: 300;
    font-size: 1.2vw;
  }

  .ts2022 {
    background-size: 100% 100%;
  }

  .ts2020 {
    background-size: 100% 100%;
  }

  #history article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b62a1bad;
    width: 100%;
    height: 21vw;
    color: var(--lghtGray);
  }

  #sponsors {
    display: none;
  }

  /**** Footer ******/

  footer {
    background-color: var(--black);
    justify-content: flex-start;
  }

  .ts-icon {
    width: 18vw;
    padding-left: 9vw;
    margin: 1vw;
  }

  .foot-text-cont p {
    color: var(--lghtGray);
    font-size: 1.2vw;
  }
}
