@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&display=swap');

/* Color */

:root {
  --main: #EC5242;
  --seeThru: #ff1900b7;
  --black: #272A31;
  --drkGray: #5C5C5C;
  --lghtGray: #F5F5F5;
}

/*********************** Headline *********************/

#headline {
    width: 100%;
    height: 129vw;
    color: var(--drkGray);
  }
  
  #headline > h1 {
    font-size: 9vw;
    font-weight: 900;
    height: 150vw;
    padding: 30vw 0 0 3vw;
    background-color: #f5f5f5dc;
    color: var(--seeThru);
    text-align:left;
  }
  
  .line-up {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 57vw;
    width: 94%;
    margin-inline: 3vw;
    padding: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #ffffff;
    background-color: #f5f5f5dc;
  }
  
  .line-up li {
    display: inline;
    font-weight: 900;
  }
  
  .inter {
    width: 100%;
    font-size: 6vw;
    margin-top: 0.6vw;
  }
  
  .l2 {
    flex-basis: 45%;
    font-size: 4.5vw;
  }
  
  .l3 {
    flex-basis: 48%;
    font-size: 4.5vw;
  }
  
  .l4 {
    flex-basis: 45%;
    font-size: 4.5vw;
  }
  
  .l5 {
    flex-basis: 30%;
    font-size: 4vw;
  }
  
  .l6 {
    flex-basis: 45%;
    font-size: 4vw;
  }
  
  .l7 {
    flex-basis: 30%;
  }
  
  .don {
    flex-basis: 40%;
  }
  
  .l8 {
    flex-basis: 45%;
  }
  
  time {
    position: absolute;
    top: 111vw;
    left: 3vw;
    font-size: 9vw;
    font-weight: 900;
  }
  
  address {
    position: absolute;
    top: 123vw;
    left: 3vw;
    font-style: normal;
    font-size: 3vw;
  }
  
  /***************************** Main *******************************/
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  /*********** Information ***************/
  
  #information {
    height: fit-content;
    background: url('/images/deco/steel-gray-metal-bg.jpg') no-repeat #2a2f3b98;
    background-size: cover;
    padding-bottom: 1.5vw;
  }
  
  
  .info {
    color: var(--lghtGray);
  }

  
  .info-link {
    display: flex;
    height: 24vw;
    width: 94%;
    margin: 1.5vw 3vw;
    padding:  3vw 3vw 3vw 24vw;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
  }
  
  #information a h1 {
    flex: 1.2;
    color: var(--main);
  }
  
  #information a p {
    flex: 2.7;
    font-size: 1.2rem;
    color: var(--lghtGray);
  }
  
  .info-sect {
    text-align: center;
  }
  
  .tickets {
    background: url('/images/icons/ticket-icon.png') -3vw 50% no-repeat #5c5c5ca9;
    background-size: 27vw;
  }
  
  .sched {
    background: url('/images/icons/schedule-icon.png') -1.8vw 50% no-repeat #5c5c5ca9;
    background-size: 27vw;
  }
  
  .serv {
    background: url('/images/icons/services-icon.png') -1.8vw 50% no-repeat #5c5c5ca9;
    background-size: 27vw ;
  }
  
  .secur {
    background: url('/images/icons/security-icon.png') -1.8vw 50% no-repeat #5c5c5ca9;
    background-size: 27vw;
  }
  
  .join {
    margin-block: 9vw;
    text-decoration: none;
    color: var(--lghtGray);
    background-color: var(--main);
    align-self: center;
    font-size: 1.5rem;
    padding: 6vw 12vw;
  }
  
  /************************ Artists ************************/
  
  #artists {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding: 3vw;
  }
  
  .artist-card {
    display: flex;
    width: 100%;
    background: url('/images/deco/chessboard.jpg') 3vw 12% no-repeat;
    background-size: 12vw;
    padding: 6vw 0 6vw 6vw;
  }
  
  .artist-img {
    width: 24vw;
    height: 24vw;
  }
  
  .artist-data {
    position: relative;
    padding-inline: 3vw;
  }
  