/*********************** Headline *********************/

#headline {
  width: 100%;
  height: 129vw;
  color: var(--drkGray);
}

.headline-p {
  position: absolute;
  top: 23.3vw;
  left: 3vw;
  font-size: 5.4vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 82, 2, 0.719);
  background-image: url('/images/content/ts-logo.png');
}

#headline > h1 {
  font-size: 7.2vw;
  font-weight: 900;
  height: 150vw;
  padding: 30vw 0 0 3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 82, 2, 0.719);
  background-image: url('/images/content/ts-logo.png');
  text-align: left;
}

small {
  font-size: 2.4vw;
}

.line-up {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 63vw;
  width: 94%;
  margin-inline: 3vw;
  padding: 3vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid #fff;
  background-color: #f5f5f5dc;
}

.line-up li {
  display: inline;
  font-weight: 900;
}

.inter {
  width: 100%;
  font-size: 6vw;
  margin-top: 0.6vw;
}

.l2 {
  flex-basis: 45%;
  font-size: 4.5vw;
}

.l3 {
  flex-basis: 48%;
  font-size: 4.5vw;
}

.l4 {
  flex-basis: 45%;
  font-size: 4.5vw;
}

.l5 {
  flex-basis: 30%;
  font-size: 4vw;
}

.l6 {
  flex-basis: 45%;
  font-size: 4vw;
}

.l7 {
  flex-basis: 30%;
  font-size: 3vw;
}

.don {
  flex-basis: 40%;
}

.l8 {
  flex-basis: 45%;
  font-size: 3vw;
}

time {
  position: absolute;
  top: 111vw;
  left: 3vw;
  font-size: 9vw;
  font-weight: 900;
}

address {
  position: absolute;
  top: 126vw;
  left: 3vw;
  font-style: normal;
  font-size: 3vw;
}

/***************************** Main *******************************/

main {
  display: flex;
  flex-direction: column;
}

/*********** Information ***************/

#information {
  height: fit-content;
  background: url('../../images/deco/steel-gray-metal-bg.jpg') no-repeat;
  background-size: cover;
}

.blueBg {
  height: 189vw;
  padding-bottom: 1.5vw;
  background-color: #212a3f8a;
}

.info {
  color: var(--lghtGray);
}

.info::after {
  width: 6%;
  left: 47%;
}

.info-link {
  display: flex;
  height: 24vw;
  width: 94%;
  margin: 1.5vw 3vw;
  padding: 3vw 3vw 3vw 24vw;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
}

#information a h2 {
  flex: 1.2;
  color: var(--main);
  margin-right: 3vw;
}

#information a p {
  flex: 2.7;
  font-size: 3vw;
  line-height: 4.5vw;
  text-align: left;
  color: var(--lghtGray);
}

.tickets {
  background: url('../../images/icons/ticket-icon.png') -3vw 50% no-repeat var(--cardBg);
  background-size: 27vw;
}

.sched {
  background: url('../../images/icons/schedule-icon.png') -1.8vw 50% no-repeat var(--cardBg);
  background-size: 27vw;
}

.serv {
  background: url('../../images/icons/services-icon.png') -1.8vw 50% no-repeat var(--cardBg);
  background-size: 27vw;
}

.secur {
  background: url('../../images/icons/security-icon.png') -1.8vw 50% no-repeat var(--cardBg);
  background-size: 27vw;
}

.forum {
  background: url('../../images/icons/chat_icon.png') 3vw 50% no-repeat var(--cardBg);
  background-size: 18vw;
}

.join {
  position: relative;
  bottom: -15vw;
  margin-block: 9vw;
  width: 70vw;
  text-decoration: none;
  color: #fff;
  background-color: var(--main);
  align-self: center;
  font-size: 4.5vw;
  padding: 6vw 12vw;
}

.program {
  display: none;
}

/************************ Artists ************************/

#artists {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding: 0 3vw 9vw 3vw;
}

.artist-card {
  display: flex;
  width: 100%;
  background: url('../../images/deco/chessboard.jpg') 3vw 12% no-repeat;
  background-size: 12vw;
  padding: 6vw 0 6vw 6vw;
}

.artist-img {
  width: 24vw;
  height: 24vw;
}

.artist-data {
  position: relative;
  padding-inline: 3vw;
  text-align: left;
}

.artist-name {
  position: relative;
  top: -3vw;
  font-size: 4.5vw;
}

.artist-data dd {
  position: relative;
  top: -1.8vw;
  color: var(--main);
  font-size: 2.7vw;
  font-style: italic;
}

.artist-data dd::after {
  content: '';
  display: block;
  position: relative;
  width: 12%;
  height: 2px;
  background-color: #b8b8b8;
  top: 1.8vw;
}

.artist-intro {
  position: relative;
  top: 1.8vw;
  font-size: 2.7vw;
  color: var(--drkGray);
}

.hide {
  display: none;
}

.see-label {
  border: 2px solid var(--lghtGray);
  border-radius: 3px;
  width: 100%;
  text-align: center;
  padding-block: 3vw;
}

#seeBtn {
  display: none;
}

#see-label-text {
  font-size: 3vw;
  color: var(--drkGray);
  background: url('../../images/icons/see-more-icon.png') 60% 50% no-repeat;
  background-size: 3vw;
}

#seeBtn:checked + #see-label-text {
  background: url('../../images/icons/see-less-icon.png') 60% 50% no-repeat;
  background-size: 3vw;
}

/******** Sponsors *********/

#sponsors {
  display: none;
}

/**** Footer ****/

footer {
  background-color: var(--drkGray);
}

.footer-p {
  color: var(--lghtGray);
}

footer p a {
  color: var(--lghtGray);
}

/*************************************** Desktop *********************************************/

@media screen and (min-width: 768px) {
  /******** Headline *******/

  #headline {
    height: 114vw;
  }

  .headline-p {
    left: 12vw;
    font-size: 3.9vw;
    top: 18vw;
  }

  #headline > h1 {
    font-size: 5.1vw;
    font-weight: 900;
    background-color: #f5f5f5b2;
    color: var(--seeThru);
    text-align: left;
    width: 100%;
    padding: 23.3vw 18.9vw 0 12vw;
  }

  .line-up {
    width: 50%;
    align-self: flex-start;
    margin-left: 12vw;
    top: 45vw;
  }

  .line-up li {
    margin-block: 0.9vw;
  }

  small {
    font-size: 1.2vw;
  }

  .inter {
    font-size: 3vw;
  }

  .l2,
  .l3,
  .l4 {
    font-size: 2.1vw;
  }

  .l5,
  .l6 {
    font-size: 1.5vw;
  }

  .l7,
  .l8 {
    font-size: 1.2vw;
  }

  time {
    top: 87vw;
    left: 12vw;
    font-size: 3.6vw;
  }

  address {
    top: 93vw;
    left: 12vw;
  }

  /********************* Main **********************/

  /***** Information ******/

  .blueBg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding-bottom: 6vw;
    background-color: #212a3f8a;
  }

  .info::after {
    width: 3%;
    left: 48%;
  }

  .info-link {
    flex-direction: column;
    width: 18%;
    height: 18vw;
    padding: 6.3vw 1.8vw 1.8vw 1.8vw;
    margin: 3vw 0.3vw;
    justify-content: center;
    background-position: 50% 0;
    background-size: 6.9vw;
  }

  .forum {
    background-size: 6vw;
    background-position: 50% 0.9vw;
  }

  .info-link:hover {
    transform: scale(1.06);
  }

  #information a h2 {
    flex: 1;
    margin-right: 0;
    font-size: 1.8vw;
  }

  #information a p {
    flex: 2.7;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: center;
    color: var(--lghtGray);
  }

  .join {
    display: none;
  }

  .program {
    display: block;
    width: 100%;
    color: var(--lghtGray);
    font-size: 1.5vw;
    margin-top: 3vw;
  }

  /************************ Artists ************************/

  #artists {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 3vw 0;
    justify-content: center;
  }

  #artists > h1 {
    width: 100%;
  }

  .artist-card {
    width: 36%;
    background-position: 0.9vw 1.2vw;
    background-size: 6.3vw;
    padding: 3vw 0 3vw 3vw;
    cursor: pointer;
  }

  .artist-img {
    width: 12vw;
    height: 12vw;
  }

  .artist-data {
    padding-inline: 1.8vw;
    text-align: left;
  }

  .artist-name {
    position: relative;
    top: 0;
    font-size: 1.8vw;
  }

  .artist-data dd::after {
    top: 0.6vw;
    height: 1px;
  }

  .artist-data dd {
    top: 0.3vw;
    font-size: 1vw;
  }

  .artist-intro {
    top: 1.2vw;
    font-size: 1vw;
  }

  .hide {
    display: flex;
  }

  .see-label {
    display: none;
  }

  /******** Sponsors *********/

  #sponsors {
    display: flex;
  }

  /**** Footer ******/

  footer {
    background-color: #fff;
  }

  .footer-p {
    color: var(--drkGray);
  }

  footer p a {
    color: var(--drkGray);
  }
}
